body {
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #131313;
    color: #ffffff;
  }
.hero {
    position: relative;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 5%; /* Adjust the left value to position the text to the left */
    transform: translateY(-50%); 
    text-align: left; /* Align text to the left */
}

.hero-text h1 {
    font-size: 3em;
}

.hero-text p {
    font-size: 1.5em;
}

.hero-text button {
    background-color: #0088FF;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 1em;
}

.about {
    display: flex;
    padding: 50px;
    background-color: #222;
}

.about img {
    width: 50%;
    height: auto;
}

.about-text {
    padding-left: 100px;
}

.about h2 {
    font-size: 3.5em;
    color: #0088FF;
}
.about p strong{
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-bottom: 1px;
    color: #000000;
}
.about p{
    margin: 10px 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;

}

.see-also {
    padding: 50px;
    background-color: #222;
}

.see-also h2 {
    font-size: 2.5em;
    color: #0088FF;
    text-align: center;
}

.movie-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie-item {
    margin: 20px;
    text-align: center;
}

.movie-item img {
    width: 200px;
    height: auto;
}

/* CSS for Responsive Design */

/* General styling */
body {
    font-family: 'Karla', sans-serif;
  }
  
  /* Responsive Navbar */
  @media only screen and (max-width: 425px) {
    .navbar-nav {
      flex-direction: column;
    }
    .navbar-toggler {
      display: block;
    }
    .offcanvas {
      width: 100%;
    }
  
  
  /* Hero Section */
  .hero {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .hero img {
    width: 100%;
    height: auto;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* About Section */
  .about {
    display: flex;
    flex-wrap: wrap;
  }
  
  .about img {
    width: 100%;
    height: auto;
  }
  
  .about-text {
    flex: 0 0 100%;
  }
  
  /* Adjust title in thumbnails */
  .thumbnail .title {
    text-align: center;
    margin-top: 5px;
  }
  
  /* Responsive Footer Icons */
  footer a img {
    width: 30px;
    height: 30px;
    margin: 5px;
  }
}
  /* General Styles for Smaller Screens */
  @media only screen and (max-width: 425px) {
    h2 {
      text-align: center;
    }
    .about-text {
      order: -1;
    }
    .hero-text {
        position: absolute;
      }
  }
  
